<div class="container">
    <div class='main'>
        <div class='bubble bubble-1'></div>
        <div class='bubble bubble-2'></div>
        <div class='bubble bubble-3'></div>
        <div class='bubble bubble-4'></div>
        <div class='bubble bubble-5'></div>
        <div class='bubble bubble-6'></div>
        <div class='bubble bubble-7'></div>
        <div class='bubble bubble-8'></div>
        <div class='bubble bubble-9'></div>
        <div class='bubble bubble-10'></div>
        <div class='bubble bubble-11'></div>
        <div class='bubble bubble-12'></div>
        <div class='bubble bubble-13'></div>
        <div class='bubble bubble-14'></div>
        <div class='bubble bubble-15'></div>
        <div class='bubble bubble-16'></div>
        <div class='bubble bubble-17'></div>
        <div class='bubble bubble-18'></div>
        <div class='bubble bubble-19'></div>
        <div class='bubble bubble-20'></div>
        <div class='bubble bubble-21'></div>
        <div class='bubble bubble-22'></div>
        <div class='bubble bubble-23'></div>
        <div class='bubble bubble-24'></div>
        <div class='bubble bubble-25'></div>
        <div class='bubble bubble-26'></div>
        <div class='bubble bubble-27'></div>
        <div class='bubble bubble-28'></div>
        <div class='bubble bubble-29'></div>
        <div class='bubble bubble-30'></div>
      </div>
    <div class="forms-container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" [(ngModel)]="message" placeholder="Username">
                </div>
                <!-- <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div> -->
                <button class="btn" (click)="onLogin()">Login</button>
                <!-- <p class="social-text">Or sign in with social platform</p>
                <div class="social-media">
                    <a href="" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="" class="social-icon"><i class="fab fa-facebook"></i></a>
                </div> -->
            </form>
        </div>
    </div>
    <div class="panel-container"></div>
</div>

<!-- <app-chat-box *ngIf="!!message"></app-chat-box> -->
